$black-color: #141517;
$gray-color: rgb(160,167,179);
@import '../responsive.scss';
.header-container {
  width: 100%;
  .header-wrapper {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //logo
    .logo-wrapper:hover {
      cursor: pointer;
    }
    //list interactive icon
    .interactive-icon-wrapper {
      width: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      svg {
        color: $black-color;
        font-size: 25px;
      }
      svg:hover {
        cursor: pointer;
      }
      .user-icon-wrapper {
        position: relative;
        display: inline-block;
        .user-info-hover-container {
          overflow: hidden;
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 120px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 0;
          z-index: 100;
          border-radius: 15px;
          margin-left: -50px;
          margin-top: 1px;
          font-size: 30px;
          flex-direction: column;
          align-items: center;
            .user-info-element {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              padding: 4px 0;
              a {
                text-transform: capitalize;
                color: black;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
              }
              a:hover {
                color: red;
              }
              p {
                color: black;
                font-size: 14px;
                font-weight: 500;
              }
            }
            .user-info-element:hover {
              cursor: pointer;
              background-color: rgb(240, 240, 240);
            }
            .user-info-element:hover p {
              color: red;
            }
        }
      }
      .user-icon-wrapper:hover .user-info-hover-container {
        display: flex;
      }
    }
  }
}

.name-container {
  margin-top: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
}

#cart-shopping-iconn:hover {
  color: red;
}

.black-header {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 16px;
  }
  a {
    font-size: 16px;
    text-transform: capitalize;
    color: #CEBD9C !important;
    text-decoration: none;
    font-weight: 500;
  }
}

.shop-now-wrapper {
  margin-left: 5px;
  border-bottom: 2px solid #CEBD9C;
}

.hori-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  background-color: rgb(60,75,100);
  .logo-wrapper {
    padding: 20px;
    background-color: rgb(48,60,84);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

//menu
.big-menu{
  width: 100%;
  height: 100%;
  .menu-element-wrapper {
    width: 100%;
    .menu-element-title {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      padding: 15px 10px;
      text-transform: uppercase;
      color: $gray-color;
      font-size: 15px;
      font-weight: 700;
    }
    .menu-element-content {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      padding: 3px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      svg:first-child {
        font-size: 30px;
      }
      div {
        width: 80%;
        margin-left: 20px;
        p {
          text-transform: capitalize;
          color: $gray-color;
          font-size: 20px;
        }
      }
      svg:last-child {
        font-size: 15px;
        margin-top: 5px;
      }
      svg {
        color: $gray-color;
      }
    }
    .menu-element-content:hover {
      cursor: pointer;
      background-color: rgb(48,60,84);
    }
    .menu-element-child-container {
      color: white;
      padding: 3px 70px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $gray-color;
        font-size: 16px;
      }
    }
    .menu-element-child-container:hover {
      cursor: pointer;
      background-color: rgb(48,60,84);
    }
  }
}

