.item-type-page-content {
  width: 100%;
  .item-type-title {
    color: black;
    font-size: 20px;

  }
  .add-item {
    border: 1px solid black;
    display: inline-block;
    svg {
      color: black;
    }
  }
  .add-item:hover {
    cursor: pointer;
  }
  .item-type-level-container {
    border: 1px solid black;
    padding: 2px 5px;
  }
  .item-type-level-container:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.overlay-container {
  position: absolute;
  //top: 50%;
  //left: 50%;
  //margin-top: -50px;
  //margin-left: -50px;
  //width: 100px;
  //height: 100px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
  opacity: 0;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;
  padding: 20px 40px;
  //width: 100px;
  //height: 100px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
  .center-box-button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  div {
    width: 100%;
  }
}

.item-type-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}